@import "tailwindcss";

:root {
  --background: #ffffff;   /* white background */
  --foreground: #171717;   /* dark text */
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}
